rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /usuarios/{userId} {
      allow read, write: if true;
    }
    match /ejercicios/{ejercicioId} {
      allow read, write: if true;
    }
    match /rutinas/{rutinaId} {
      allow read, write: if true;
    }
    match /ejerciciosRutina/{ejercicioRutinaId} {
      allow read, write: if true;
    }
    match /planesNutricion/{planId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

